@media screen and (max-width: 768px) {
    .img {
      display: flex;
      flex-direction: column;
    }
  
    .container {
      display: flex;
      justify-content: space-between;
    }
    .imgs{
      margin-left: 2rem;
    }
  
    .price {
    
      margin-left: 1rem;
      margin-right: 8px;
    }
  
    .button {
      margin-left: 10px;
    }   
    
  }
  
  @media screen and (min-width:768px) {
    .price {
      
        margin-left: 5.25rem;
    }
   
  }

   .button{
    border:solid 1px gray;
    padding:5px;
  }